# Linux
*~
.Trash-*
.directory
.fuse_hidden*
.nfs*

# Emacs
*.elc
*.rel
*_archive
*_flymake.*
.\#*
.cask/
.dir-locals.el
.org-id-locations
.projectile
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
\#*\#
auto-save-list
dist/
flycheck_*.el
tramp

# Vim
.netrwhist
Session.vim
Sessionx.vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
tags
